body {
  margin: 0;
  overflow-x: hidden;
}
body header {
  background-color: black;
  color: #FCBE32;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
body header .menuCache {
  position: absolute;
  width: 300px;
  height: 700px;
  background-color: rgba(0, 0, 0, 0.85);
  top: 0vh;
  right: 0vw;
  transform: translateX(350px);
  transition: transform 0.5s;
  z-index: 10;
}
body header .menuCache .exitMenu {
  width: 50px;
  height: 50px;
  padding: 20px;
}
body header .menuCache .exitMenu .exit1 {
  width: 40px;
  height: 5px;
  background-color: #FCBE32;
  border-radius: 2px 2px 2px 2px;
  transform: rotate(45deg);
}
body header .menuCache .exitMenu .exit2 {
  width: 40px;
  height: 5px;
  background-color: #FCBE32;
  border-radius: 2px 2px 2px 2px;
  transform: rotate(-45deg) translateY(-5px) translateX(2.5px);
}
body header input {
  display: none;
}
body header .menuBurger {
  width: 50px;
  height: 50px;
  background-color: #FCBE32;
  border-radius: 5px 5px 5px 5px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
body header .menuBurger .burger1 {
  width: 35px;
  height: 5px;
  background-color: black;
  border-radius: 2px 2px 2px 2px;
}
body header .menuBurger .burger2 {
  display: flex;
  justify-content: space-between;
}
body header .menuBurger .burger2 .div1 {
  width: 10px;
}
body header .menuBurger .burger2 .div2 {
  width: 25px;
  height: 5px;
  background-color: black;
  border-radius: 2px 2px 2px 2px;
}
body header .menuBurger .burger3 {
  width: 35px;
  height: 5px;
  background-color: black;
  border-radius: 2px 2px 2px 2px;
}
body header #chkBurger:checked ~ .menuCache {
  transform: translateX(0px);
}
body main {
  background-color: #14243C;
  min-height: 100vh;
}
body main .txtMain {
  text-align: center;
  color: white;
  position: relative;
  top: 5vh;
  left: -27vw;
}
body main .txtMain h1 {
  margin: 0;
}
body main .img {
  width: 70vw;
  height: 300px;
  background-color: #FCBE32;
  position: relative;
  left: 30vw;
  -webkit-clip-path: polygon(100px 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(100px 0, 100% 0, 100% 100%, 0 100%);
}
body main .boutonCours {
  position: relative;
  top: -7vh;
  left: 3vw;
}
body main .boutonCours .btn1 {
  height: 5px;
  width: 90px;
  background-color: #FCBE32;
  margin-bottom: 5px;
  position: relative;
  left: 60px;
}
body main .boutonCours .btn2 {
  width: 150px;
  height: 50px;
  background-color: #FCBE32;
}
body main .boutonCours .btn3 {
  width: 90px;
  height: 5px;
  background-color: #FCBE32;
  margin-top: 5px;
}
body main .boutonCours .btn4 {
  width: 25px;
  height: 5px;
  background-color: #FCBE32;
  position: relative;
  top: -5px;
  left: 92px;
}
body main .boutonCours .btn5 {
  width: 10px;
  height: 5px;
  background-color: #FCBE32;
  position: relative;
  top: -10px;
  left: 119px;
}
body main .boutonCours .btn6 {
  width: 65px;
  height: 5px;
  background-color: #FCBE32;
  position: relative;
  top: -8px;
}/*# sourceMappingURL=style.css.map */